.container {
  display: flex;
  gap: 20px;
  width: 90%;
  margin: 4rem auto;
}

.rockets,
.missions {
  width: 50%;
}

.profile {
  border: 1px solid grey;
}

.item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  border: 1px solid grey;
}

.item p {
  margin: 0;
  padding-left: 5px;
}
